/** @format */

@mixin flexCenter($flexStyle) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $flexStyle;
}

@mixin respond($media) {
  @if $media == 576px {
    @media (min-width: 576px) {
      @content;
    }
  }
  @if $media == 575.9px {
    @media (max-width: 575.9px) {
      @content;
    }
  }
}

@mixin hoverLink {
  &:hover {
    animation: 0.2s hoverLink;
    @keyframes hoverLink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.2;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

@mixin btn {
  button {
    position: relative;
    background: red;
    color: white;
    @include respond(576px) {
      $btn-width: 180px;
      width: $btn-width;
      height: $btn-width / 3.75;
    }
    @include respond(575.9px) {
      font-size: 0.88rem;
      $btn-width: 30vw;
      width: $btn-width;
      height: $btn-width / 3.75;
    }
  }
  a {
    @include flexCenter(row);
    @include respond(576px) {
      $btn-width: 180px;
      width: $btn-width / 3.75;
      height: $btn-width / 3.75;
    }
    @include respond(575.9px) {
      $btn-width: 30vw;
      width: $btn-width / 3.75;
      height: $btn-width / 3.75;
    }
    background: rgb(241, 241, 241);
    color: black;
  }
}

@mixin fontStyle($size, $lineHeight, $weight, $color) {
  font: {
    size: $size;
    weight: $weight;
  }
  color: $color;
  line-height: $lineHeight;
}

@mixin inp {
  $input-height: 40px;
  input {
    width: 100%;
    height: $input-height;
    padding: 0 45px 0 5px;
  }
  a {
    position: absolute;
    top: 0;
    right: 0;
    @include flexCenter(row);
    width: $input-height;
    height: $input-height;
    background: red;
    color: white;
  }
}

@mixin boxStyle($position, $top, $left, $right, $width, $height, $background) {
  position: $position;
  top: $top;
  left: $left;
  right: $right;
  width: $width;
  height: $height;
  background-color: $background;
}
