/** @format */
@media (max-width: 991.9px) {
  .main__nav {
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    div {
      left: -70%;
      transition: 0.5s;
    }
  }
  .main__nav--open {
    opacity: 1;
    visibility: visible;
    div {
      left: 0;
    }
  }
  .header__btn-menu {
    z-index: 10000;
    @include boxStyle(relative, normal, normal, normal, 35px, 30px, none);
    span {
      transition: 0.5s;
      @include boxStyle(absolute, normal, normal, normal, 100%, 4px, #717171);
      border-radius: 3px;
      &:first-child {
        top: 0;
      }
      &:last-child {
        bottom: 0;
      }
      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .close-menu {
    span {
      background: rgb(204, 203, 203) !important;
      &:last-child {
        top: 45%;
        transform: rotate(-225deg);
      }
      &:nth-child(2) {
        transform: rotate(180deg) !important;
        opacity: 0;
        visibility: hidden;
      }
      &:first-child {
        top: 45%;
        transform: rotate(225deg);
      }
    }
  }
  .intro__content--title {
    font-size: 35px;
    line-height: 45px;
    span {
      letter-spacing: 0.2em;
    }
  }
  .process {
    .container {
      padding: 0 30px;
    }
    ul {
      font-size: 1.5vw;
      li:first-child {
        font-size: 1.7vw;
      }
    }
  }
  .client__avatar--name {
    font-size: 12px;
    line-height: 16px;
  }
  .contact__content div {
    width: 50%;
  }
  .client__footer {
    padding-top: 8vw;
  }
}
@media (max-width: 767.9px) {
  section:not(:first-child) {
    margin-top: 60px !important;
  }
  .header {
    &__logo::after {
      display: none;
    }
    &__banner {
      h2 {
        font-size: 30px !important;
        line-height: normal !important;
      }
    }
  }
  .intro__content--title {
    font-size: 30px;
    line-height: 35px;
  }
  .info .card-footer {
    font-size: 0.76rem !important;
  }
  .client__avatar--name {
    font-size: 16px;
    line-height: 20px;
  }
  .client__footer--logo {
    div {
      flex-wrap: wrap;
      a {
        width: calc(100% / 3);
      }
    }
  }
  .client__content img {
    width: 35px;
    height: 35px;
  }
  .contact__content div img {
    width: 40px;
  }
  .process {
    padding: 4.5vw;
    ul {
      font-size: 0.88rem;
      li:first-child {
        font-size: 1.15rem;
      }
    }
  }
  .footer {
    margin-top: 50px !important;
    &--logo {
      margin-top: 0 !important;
    }
  }
}
@media (max-width: 575.9px) {
  html {
    font-size: 14px;
  }
  section:not(:first-child) {
    margin-top: 10vw !important;
  }
  [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__btn-menu {
    width: 25px;
    height: 20px;
  }
  header {
    margin-bottom: 12vw !important;
    .container {
      padding: 0 10px;
    }
  }
  .header {
    &__top {
      margin-bottom: 0;
    }
    &__banner {
      h2 {
        font-size: 5vw !important;
        line-height: normal !important;
      }
      p {
        margin: 0 0 5vw 0 !important;
      }
      &--scrollDown {
        margin-top: 8vw !important;
        width: 30px !important;
        height: 25px !important;
      }
    }
  }
  .process {
    padding: 10px;
    .container {
      padding: 0 15px;
    }
  }
  .info .card-footer {
    font-size: 0.88rem !important;
  }
  .client {
    padding-top: 5vw;
    .container {
      padding: 0 10px;
    }
    .row {
      margin: 0 -10px;
    }
  }
  .client__avatar--name {
    font-size: 3.2vw;
    line-height: 4vw;
  }
  .client__content img {
    width: 20px;
    height: 20px;
  }
  .intro__img div {
    font-size: 3.5vw;
  }
  .contact__content div img {
    width: 30px;
  }
  .contact {
    padding: 5vw 0;
  }
  .footer {
    margin-top: 10vw !important;
    &--logo {
      img {
        width: 120px;
      }
    }
    &--menu li {
      padding: 5px 10px !important;
    }
  }
}
@media (max-width: 480px) {
  .header__logo {
    img {
      width: 25vw;
    }
  }
  .intro__content--title {
    @include fontStyle(25px, 30px, 700, #303030);
  }
  .contact__content div {
    display: flex;
    align-items: center;
    width: 100%;
    img {
      margin: 0 10px 0 0 !important;
    }
    a {
      text-align: left !important;
      display: flex !important;
      align-items: center;
    }
    &:nth-child(2) {
      margin-top: 1rem;
    }
  }
  .footer--menu li {
    min-width: 119px;
  }
}
