/** @format */
@import url(./boostrap/css/bootstrap.min.css);
@import url(./slick-1.8.1/slick/slick.css);
@import url(./slick-1.8.1/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/** @format */
/** @format */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Open sans;
  position: relative;
}

body section:not(:first-child) {
  margin-top: 100px;
}

body ul {
  list-style: none;
}

body a {
  color: inherit;
}

body a:hover {
  color: inherit;
  text-decoration: none;
}

body button {
  border: none;
}

body button:focus {
  outline: none;
}

.slick-dots li.slick-active button:before {
  font-size: 13px;
  color: red;
  border: 1px solid #1478d0;
  border-radius: 50%;
}

.main__nav {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  z-index: 1000;
  color: white;
  font-size: 1rem;
}

.main__nav div {
  width: 60%;
  height: 100%;
  background: black;
  padding-top: 30px;
  position: absolute;
}

.main__nav div a {
  padding: 15px 3px 15px 20px;
}

.main__nav div a:hover {
  background: #2c4985;
}

.main__nav--contact {
  margin-top: 10px;
  background: #141414;
  padding-top: 15px;
  font-size: 0.9rem;
}

.main__nav--contact li {
  padding-left: 15px;
}

.main__nav--contact li a {
  padding-left: 15px;
}

.header {
  background-image: url(../img/header/panner.jpg);
  background-size: cover;
}

.header header {
  background: white;
  margin-bottom: 50px;
}

.header header .header__logo {
  position: relative;
}

.header header .header__logo span {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  color: #2c4985;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-bottom: -20px;
  z-index: 3;
}

.header header .header__logo:after {
  content: "";
  position: absolute;
  width: 500%;
  height: 25px;
  background: white;
  margin-left: -440%;
  -webkit-transform: skewX(-60deg);
          transform: skewX(-60deg);
  z-index: 1;
}

.header header .header__content ul {
  margin-bottom: 0;
}

.header header .header__content ul:not(:first-child) {
  margin-left: 50px;
}

.header header .header__content li {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #1a3761;
  line-height: 17px;
}

.header header .header__content li img {
  margin-right: 10px;
}

.header header .header__content li a {
  margin-top: 5px;
  font-size: inherit;
  font-weight: bold;
  color: #ee1f23;
  line-height: inherit;
}

.header header .header__btn-menu {
  z-index: 10000;
  width: 30px;
  height: 25px;
  position: relative;
}

.header header .header__btn-menu span {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: black;
  position: absolute;
}

.header header .header__btn-menu span:last-child {
  bottom: 0;
}

.header header .header__btn-menu span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .header__navbar {
  color: white;
}

.header .header__navbar a {
  margin: 0 25px;
  padding-bottom: 17px;
}

.header .header__navbar a:focus {
  border-bottom: 3px solid #c1f8ff;
}

.header .header__banner {
  color: white;
}

.header .header__banner h2 {
  font-size: 2.6rem;
  font-weight: 600;
  color: inherit;
  line-height: 3rem;
}

.header .header__banner p {
  font-size: 0.88rem;
  font-weight: 300;
  color: inherit;
  line-height: 1.4rem;
}

.header .header__banner .btn--box button {
  background: red;
  color: white;
  width: 180px;
  height: 48px;
}

@media only screen and (max-width: 575.9px) {
  .header .header__banner .btn--box button {
    font-size: 0.88rem;
    width: 30vw;
    height: 8vw;
  }
}

.header .header__banner .btn--box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48px;
  height: 48px;
  background: #f1f1f1;
  color: black;
}

@media only screen and (max-width: 575.9px) {
  .header .header__banner .btn--box a {
    width: 8vw;
    height: 8vw;
  }
}

.header .header__banner--icons {
  font-size: 1.4rem;
}

.header .header__banner--scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 95px 0 7px 0;
}

.header .header__banner--scrollDown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: white;
  width: 40px;
  height: 35px;
  -webkit-clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
}

.header .header__banner--scrollDown a img {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  width: 35%;
}

.intro {
  font-family: Mulish;
}

.intro__img {
  position: relative;
  display: inline-block;
}

.intro__img img {
  width: 100%;
}

.intro__img div {
  background: #265bc5;
  position: absolute;
  width: 55%;
  height: 32%;
  bottom: -5%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 5px 0 10%;
  font-size: 1.25rem;
  line-height: 1.16em;
  color: #f8f8f8;
  font-weight: bold;
}

.intro__img div img {
  position: absolute;
  top: 15%;
  left: -9%;
  width: 25%;
}

.intro__content--title, .info__text h3, .client__title h3, .contact__text h3 {
  font-size: 2.6rem;
  line-height: 1.16em;
  font-weight: 600;
  color: #303030;
}

.intro__content--title span, .info__text h3 span, .client__title h3 span, .contact__text h3 span {
  letter-spacing: 0.3em;
  font-size: 0.88rem;
  font-weight: normal;
  color: #ee1f23;
  line-height: 1rem;
}

.intro__content p {
  font-family: Open Sans;
  color: #505050;
}

.intro__content .btn--box button {
  background: red;
  color: white;
  width: 180px;
  height: 48px;
}

@media only screen and (max-width: 575.9px) {
  .intro__content .btn--box button {
    font-size: 0.88rem;
    width: 30vw;
    height: 8vw;
  }
}

.intro__content .btn--box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48px;
  height: 48px;
  background: #f1f1f1;
  color: black;
}

@media only screen and (max-width: 575.9px) {
  .intro__content .btn--box a {
    width: 8vw;
    height: 8vw;
  }
}

.process {
  background-image: url(../img/process/process-bg.jpg);
  padding: 80px;
}

.process__container {
  padding: 3%;
  background: white;
  border-bottom: 1px solid #265bc5;
}

.process__container div img {
  width: 20%;
}

.process__container:first-child div img:last-child {
  width: 15%;
  margin-right: 4%;
}

.process__container:nth-child(2) {
  background: #265bc5;
}

.process__container:nth-child(2) ul {
  color: white !important;
}

.process__container:nth-child(2) ul li {
  color: white !important;
}

.process__container ul {
  font-size: 0.88rem;
  font-weight: normal;
  color: #303030;
  line-height: 1.2rem;
}

.process__container ul li:first-child {
  font-family: Mulish;
  font-size: 1.15rem;
  font-weight: 700;
  color: #265bc5;
  line-height: 1.3rem;
  margin: 20px 0 10px 0;
}

.info .card {
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.info .card .info__card--anima {
  overflow: hidden;
}

.info .card .info__card--anima .card-img-top:hover {
  -webkit-animation: anima 0.5s;
          animation: anima 0.5s;
}

@-webkit-keyframes anima {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anima {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.info .card .info__card h5 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333333;
  line-height: 1.85rem;
}

.info .card .info__card p {
  font-family: Montserrat;
  font-size: 0.88rem;
  font-weight: normal;
  color: #555555;
  line-height: 1.06rem;
}

.info .card .info__card:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
          box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
}

.info .card .info__card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Roboto;
  font-size: 0.88rem;
  font-weight: normal;
  color: #303030;
  line-height: 1rem;
}

.info .card .info__card .card-footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info .card .info__card .card-footer i {
  color: red;
}

.info .btn--box button {
  background: red;
  color: white;
  width: 180px;
  height: 48px;
}

@media only screen and (max-width: 575.9px) {
  .info .btn--box button {
    font-size: 0.88rem;
    width: 30vw;
    height: 8vw;
  }
}

.info .btn--box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 48px;
  height: 48px;
  background: #f1f1f1;
  color: black;
}

@media only screen and (max-width: 575.9px) {
  .info .btn--box a {
    width: 8vw;
    height: 8vw;
  }
}

.client {
  background-image: url(../img/client/img.png);
  background-size: cover;
  padding: 50px 0 0 0;
}

.client__avatar {
  position: relative;
}

.client__avatar img {
  width: 100%;
}

.client__avatar--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #265bc5;
  position: absolute;
  bottom: -6%;
  right: 5%;
  width: 66%;
  height: 20%;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  color: #f8f8f8;
  line-height: 1.3rem;
}

.client__avatar--name small {
  font-weight: 400;
}

.client__content img {
  width: 20%;
  height: 20%;
}

.client__content p {
  line-height: 1.37rem;
  color: #505050;
}

.client__footer img {
  max-width: 100%;
}

.client__footer--logo {
  background: white;
}

.contact {
  background-image: url(../img/contact/contacbg.png);
  background-size: cover;
  padding: 50px 0;
}

.contact__text h3 {
  color: white;
  margin: 0;
}

.contact__content {
  font-size: 0.88rem;
  font-weight: bold;
  color: #f8f8f8;
  line-height: 1.2rem;
}

.footer {
  font-size: 0.88rem;
  font-weight: 600;
  color: #505050;
  line-height: 1.2rem;
}

.footer h5 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #265bc5;
  line-height: 1.7rem;
  margin-bottom: 20px;
}

.footer--logo {
  margin-top: -50px;
}

.footer--logo img {
  margin-bottom: 30px;
}

.footer--logo h5 {
  font-size: 1rem;
  font-weight: 800;
  color: #303030;
  line-height: 1.37rem;
}

.footer--logo p {
  font-size: 0.94rem;
  font-weight: normal;
  color: inherit;
  line-height: 1.6rem;
}

.footer--menu li:not(:first-child) {
  margin-top: 0.8rem;
}

.footer--input ul {
  font-size: 0.94rem;
  font-weight: normal;
  color: inherit;
  line-height: normal;
}

.footer--input ul div {
  position: relative;
}

.footer--input ul div input {
  width: 100%;
  height: 40px;
  padding: 0 45px 0 5px;
}

.footer--input ul div a {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40px;
  height: 40px;
  background: red;
  color: white;
}

.footer--input ul img {
  width: 100%;
}

.footer--icons {
  font-size: 1.8rem;
  font-weight: normal;
  color: #265bc5;
  line-height: normal;
}

/** @format */
@media (max-width: 991.9px) {
  .main__nav {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .main__nav div {
    left: -70%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main__nav--open {
    opacity: 1;
    visibility: visible;
  }
  .main__nav--open div {
    left: 0;
  }
  .close-menu span {
    background: #e9e9e9 !important;
  }
  .close-menu span:last-child {
    top: 40%;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  .close-menu span:nth-child(2) {
    -webkit-transform: rotate(225deg) !important;
            transform: rotate(225deg) !important;
    opacity: 0;
    visibility: hidden;
  }
  .close-menu span:first-child {
    top: 40%;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .process ul {
    font-size: 1.5vw;
  }
  .process ul li:first-child {
    font-size: 1.7vw;
  }
  .client__avatar--name {
    font-size: 12px;
    line-height: 16px;
  }
  .contact__content div {
    width: 50%;
  }
}

@media (max-width: 767.9px) {
  .header header {
    margin-bottom: 80px;
  }
  .header__logo::after {
    display: none;
  }
  .header__banner h2 {
    font-size: 30px !important;
    line-height: normal !important;
  }
  .client__avatar--name {
    font-size: 25px;
    line-height: 30px;
  }
  .client__footer--logo div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .client__footer--logo div a {
    width: calc(100% / 3);
  }
  .process {
    padding: 5vw;
  }
  .process__container:not(:first-child) {
    margin-top: 5vw;
  }
  .process ul {
    font-size: 0.88rem;
  }
  .process ul li:first-child {
    font-size: 1.15rem;
  }
}

@media (max-width: 575.9px) {
  html {
    font-size: 14px;
  }
  header {
    margin-bottom: 12vw !important;
  }
  .header__logo img {
    width: 110px;
  }
  .header__banner h2 {
    font-size: 5vw !important;
    line-height: normal !important;
  }
  .header__banner p {
    margin: 0 0 5vw 0 !important;
  }
  .header__banner--scrollDown {
    margin-top: 10vw !important;
  }
  .header__banner--scrollDown a {
    width: 30px !important;
    height: 25px !important;
  }
  .client__avatar--name {
    font-size: 4.2vw;
    line-height: 5vw;
  }
  .client__content img {
    width: 30px;
    height: 30px;
  }
  .intro__img div {
    font-size: 3.5vw;
  }
  .contact__content div img {
    width: 40px;
  }
}

@media (max-width: 480px) {
  .contact__content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: left !important;
  }
  .contact__content div img {
    margin: 0 10px !important;
  }
  .contact__content div a {
    display: inline !important;
  }
  .contact__content div:nth-child(2) {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */