/** @format */
@import url(./boostrap/css/bootstrap.min.css);
@import url(./slick-1.8.1/slick/slick.css);
@import url(./slick-1.8.1/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/** @format */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Open sans;
  position: relative;
}

body section:not(:first-child) {
  margin-top: 100px;
}

body ul {
  list-style: none;
}

body a {
  color: inherit;
}

body a:hover {
  color: inherit;
  text-decoration: none;
}

body button {
  border: none;
}

body button:focus {
  outline: none;
}

.slick-dots li.slick-active button:before {
  font-size: 13px;
  color: red;
  border: 1px solid #1478d0;
  border-radius: 50%;
}

.main__nav {
  position: absolute;
  top: 0;
  left: normal;
  right: normal;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  line-height: normal;
}

.main__nav div {
  position: absolute;
  top: normal;
  left: normal;
  right: normal;
  width: 60%;
  height: 100%;
  background-color: black;
}

.main__nav div a {
  padding: 15px 3px 15px 20px;
}

.main__nav div a:hover {
  background: #2c4985;
}

.main__nav--contact {
  display: none;
  background: #141414;
  font-size: 0.9rem;
}

.header {
  background-image: url(../img/header/panner.jpg);
  background-size: cover;
}

.header header {
  background: white;
  margin-bottom: 50px;
}

.header header .header__logo {
  position: relative;
}

.header header .header__logo span {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  color: #2c4985;
  line-height: 18px;
  letter-spacing: 0.05em;
  margin-bottom: -20px;
  z-index: 3;
}

.header header .header__logo:after {
  content: "";
  position: absolute;
  top: normal;
  left: normal;
  right: normal;
  width: 500%;
  height: 25px;
  background-color: white;
  margin-left: -440%;
  -webkit-transform: skewX(-60deg);
          transform: skewX(-60deg);
  z-index: 1;
}

.header header .header__content ul:not(:first-child) {
  margin-left: 50px;
}

.header header .header__content li {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  color: #1a3761;
  line-height: 17px;
}

.header header .header__content li a {
  font-size: inherit;
  font-weight: bold;
  color: #ee1f23;
  line-height: inherit;
}

.header header .header__content li a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@-webkit-keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.header header .header__contact {
  border-radius: 20px;
  background: #fbfbfb;
  -webkit-box-shadow: -3px -3px 3px white, 3px 3px 5px rgba(70, 70, 70, 0.5);
          box-shadow: -3px -3px 3px white, 3px 3px 5px rgba(70, 70, 70, 0.5);
}

.header header .header__contact a {
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#fff));
  background: linear-gradient(0deg, #ddd, #fff);
  color: #7a7a7a;
  font-size: 1.2rem;
  border-radius: 50%;
  -webkit-box-shadow: -3px -3px 3px white, 3px 3px 5px rgba(70, 70, 70, 0.5);
          box-shadow: -3px -3px 3px white, 3px 3px 5px rgba(70, 70, 70, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header header .header__contact a:hover {
  -webkit-box-shadow: inset -3px -3px 3px white, inset 3px 3px 5px rgba(70, 70, 70, 0.5);
          box-shadow: inset -3px -3px 3px white, inset 3px 3px 5px rgba(70, 70, 70, 0.5);
  color: seagreen;
}

.header .header__navbar {
  color: white;
}

.header .header__navbar a {
  margin: 0 25px;
}

.header .header__navbar a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.header .header__navbar a:focus {
  border-bottom: 3px solid #c1f8ff;
}

.header .header__banner {
  color: white;
}

.header .header__banner h2 {
  font-size: 2.6rem;
  font-weight: 600;
  color: inherit;
  line-height: 3rem;
}

.header .header__banner p {
  font-size: 0.88rem;
  font-weight: 300;
  color: inherit;
  line-height: 1.4rem;
}

.header .header__banner .btn--box button {
  position: relative;
  background: red;
  color: white;
}

@media (min-width: 576px) {
  .header .header__banner .btn--box button {
    width: 180px;
    height: 48px;
  }
}

@media (max-width: 575.9px) {
  .header .header__banner .btn--box button {
    font-size: 0.88rem;
    width: 30vw;
    height: 8vw;
  }
}

.header .header__banner .btn--box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f1f1f1;
  color: black;
}

@media (min-width: 576px) {
  .header .header__banner .btn--box a {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 575.9px) {
  .header .header__banner .btn--box a {
    width: 8vw;
    height: 8vw;
  }
}

.header .header__banner--icons {
  font-size: 1.4rem;
}

.header .header__banner--icons a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.header .header__banner--scrollDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 95px auto 7px auto;
  cursor: pointer;
  position: initial;
  top: normal;
  left: normal;
  right: normal;
  width: 40px;
  height: 35px;
  background-color: white;
  -webkit-clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
}

.header .header__banner--scrollDown img {
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  width: 35%;
}

.intro {
  font-family: Mulish;
}

.intro__img {
  position: relative;
  display: inline-block;
}

.intro__img img {
  width: 100%;
}

.intro__img div {
  padding: 0 5px 0 10%;
  position: absolute;
  top: normal;
  left: normal;
  right: 5%;
  width: 55%;
  height: 32%;
  background-color: #265bc5;
  bottom: -5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  line-height: 1.36em;
}

.intro__img div img {
  position: absolute;
  top: 15%;
  left: -9%;
  right: normal;
  width: 25%;
  height: auto;
  background-color: none;
}

.intro__content--title, .info__text h3, .client__title h3, .contact__text h3 {
  font-size: 2.6rem;
  font-weight: 700;
  color: #303030;
  line-height: 3rem;
}

.intro__content--title span, .info__text h3 span, .client__title h3 span, .contact__text h3 span {
  letter-spacing: 0.3em;
  font-size: 0.88rem;
  font-weight: normal;
  color: #ee1f23;
  line-height: 1rem;
}

.intro__content p {
  font-family: Open Sans;
  color: #505050;
}

.intro__content .btn--box button {
  position: relative;
  background: red;
  color: white;
}

@media (min-width: 576px) {
  .intro__content .btn--box button {
    width: 180px;
    height: 48px;
  }
}

@media (max-width: 575.9px) {
  .intro__content .btn--box button {
    font-size: 0.88rem;
    width: 30vw;
    height: 8vw;
  }
}

.intro__content .btn--box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f1f1f1;
  color: black;
}

@media (min-width: 576px) {
  .intro__content .btn--box a {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 575.9px) {
  .intro__content .btn--box a {
    width: 8vw;
    height: 8vw;
  }
}

.process {
  background-image: url(../img/process/process-bg.jpg);
  padding: 80px;
}

.process__container {
  padding: 3%;
  background: white;
  border-bottom: 1px solid #265bc5;
}

.process__container div img {
  width: 20%;
}

.process__container:first-child div img:last-child {
  width: 15%;
  margin-right: 4%;
}

.process__container:nth-child(2) {
  background: #265bc5;
}

.process__container:nth-child(2) ul {
  color: white !important;
}

.process__container:nth-child(2) ul li {
  color: white !important;
}

.process__container ul {
  font-size: 0.88rem;
  font-weight: normal;
  color: #303030;
  line-height: 1.2rem;
}

.process__container ul li:first-child {
  font-family: Mulish;
  font-size: 1.15rem;
  font-weight: 700;
  color: #265bc5;
  line-height: 1.3rem;
}

.info .card {
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.info .card .info__card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info .card .info__card--anima {
  overflow: hidden;
}

.info .card .info__card--anima .card-img-top:hover {
  -webkit-animation: anima 0.5s;
          animation: anima 0.5s;
}

@-webkit-keyframes anima {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes anima {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.info .card .info__card h5 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333333;
  line-height: 1.85rem;
}

.info .card .info__card p {
  font-family: Montserrat;
  font-size: 0.88rem;
  font-weight: normal;
  color: #555555;
  line-height: 1.06rem;
}

.info .card .info__card:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
          box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
}

.info .card .info__card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Roboto;
  font-size: 0.88rem;
  font-weight: normal;
  color: #303030;
  line-height: 1rem;
}

.info .card .info__card .card-footer span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info .card .info__card .card-footer a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.info .card .info__card .card-footer a i {
  color: red;
}

.info .btn--box button {
  position: relative;
  background: red;
  color: white;
}

@media (min-width: 576px) {
  .info .btn--box button {
    width: 180px;
    height: 48px;
  }
}

@media (max-width: 575.9px) {
  .info .btn--box button {
    font-size: 0.88rem;
    width: 30vw;
    height: 8vw;
  }
}

.info .btn--box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f1f1f1;
  color: black;
}

@media (min-width: 576px) {
  .info .btn--box a {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 575.9px) {
  .info .btn--box a {
    width: 8vw;
    height: 8vw;
  }
}

.client {
  background-image: url(../img/client/img.png);
  background-size: cover;
}

.client__avatar {
  position: relative;
}

.client__avatar img {
  width: 100%;
}

.client__avatar--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: normal;
  left: normal;
  right: 5%;
  width: 66%;
  height: 20%;
  background-color: #265bc5;
  bottom: -6%;
  font-size: 16px;
  font-weight: bold;
  color: #f8f8f8;
  line-height: 1.3rem;
}

.client__avatar--name small {
  font-weight: 400;
}

.client__content img {
  width: 12%;
  height: 13%;
}

.client__content p {
  line-height: 1.37rem;
  color: #505050;
}

.client__footer img {
  width: 100%;
}

.client__footer--logo {
  background: white;
}

.client__footer--logo a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.contact {
  background-image: url(../img/contact/contacbg.png);
  background-size: cover;
  padding: 50px 0;
}

.contact__text h3 {
  color: white !important;
}

.contact__content {
  font-size: 0.88rem;
  font-weight: bold;
  color: #f8f8f8;
  line-height: 1.2rem;
}

.contact__content a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.footer {
  font-size: 0.88rem;
  font-weight: 600;
  color: #505050;
  line-height: 1.2rem;
}

.footer h5 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #265bc5;
  line-height: 1.7rem;
}

.footer--logo {
  margin-top: -50px;
}

.footer--logo h5 {
  font-size: 1rem;
  font-weight: 800;
  color: #303030;
  line-height: 1.37rem;
}

.footer--logo p {
  font-size: 0.94rem;
  font-weight: normal;
  color: inherit;
  line-height: 1.6rem;
}

.footer--menu a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.footer--input ul {
  font-size: 0.94rem;
  font-weight: normal;
  color: inherit;
  line-height: normal;
}

.footer--input ul div {
  position: relative;
}

.footer--input ul div input {
  width: 100%;
  height: 40px;
  padding: 0 45px 0 5px;
}

.footer--input ul div a {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40px;
  height: 40px;
  background: red;
  color: white;
}

.footer--input ul img {
  width: 100%;
}

.footer--icons {
  font-size: 1.8rem;
  font-weight: normal;
  color: #265bc5;
  line-height: normal;
}

.footer--icons a:hover {
  -webkit-animation: 0.2s hoverLink;
          animation: 0.2s hoverLink;
}

@keyframes hoverLink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/** @format */
@media (max-width: 991.9px) {
  .main__nav {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .main__nav div {
    left: -70%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .main__nav--open {
    opacity: 1;
    visibility: visible;
  }
  .main__nav--open div {
    left: 0;
  }
  .header__btn-menu {
    z-index: 10000;
    position: relative;
    top: normal;
    left: normal;
    right: normal;
    width: 35px;
    height: 30px;
    background-color: none;
  }
  .header__btn-menu span {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    top: normal;
    left: normal;
    right: normal;
    width: 100%;
    height: 4px;
    background-color: #717171;
    border-radius: 3px;
  }
  .header__btn-menu span:first-child {
    top: 0;
  }
  .header__btn-menu span:last-child {
    bottom: 0;
  }
  .header__btn-menu span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .close-menu span {
    background: #cccbcb !important;
  }
  .close-menu span:last-child {
    top: 45%;
    -webkit-transform: rotate(-225deg);
            transform: rotate(-225deg);
  }
  .close-menu span:nth-child(2) {
    -webkit-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
    opacity: 0;
    visibility: hidden;
  }
  .close-menu span:first-child {
    top: 45%;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .process ul {
    font-size: 1.5vw;
  }
  .process ul li:first-child {
    font-size: 1.7vw;
  }
  .client__avatar--name {
    font-size: 12px;
    line-height: 16px;
  }
  .contact__content div {
    width: 50%;
  }
}

@media (max-width: 767.9px) {
  section:not(:first-child) {
    margin-top: 60px !important;
  }
  .header header {
    margin-bottom: 80px;
  }
  .header__logo::after {
    display: none;
  }
  .header__banner h2 {
    font-size: 30px !important;
    line-height: normal !important;
  }
  .info .card-footer {
    font-size: 0.76rem !important;
  }
  .client__avatar--name {
    font-size: 25px;
    line-height: 30px;
  }
  .client__footer--logo div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .client__footer--logo div a {
    width: calc(100% / 3);
  }
  .client__content img {
    width: 35px;
    height: 35px;
  }
  .process {
    padding: 5vw;
  }
  .process__container:not(:first-child) {
    margin-top: 5vw;
  }
  .process ul {
    font-size: 0.88rem;
  }
  .process ul li:first-child {
    font-size: 1.15rem;
  }
  .footer--logo {
    margin-top: 0 !important;
  }
}

@media (max-width: 575.9px) {
  html {
    font-size: 14px;
  }
  section:not(:first-child) {
    margin-top: 10vw !important;
  }
  .header__btn-menu {
    width: 25px;
    height: 20px;
  }
  header {
    margin-bottom: 12vw !important;
  }
  .header__banner h2 {
    font-size: 5vw !important;
    line-height: normal !important;
  }
  .header__banner p {
    margin: 0 0 5vw 0 !important;
  }
  .header__banner--scrollDown {
    margin-top: 8vw !important;
    width: 30px !important;
    height: 25px !important;
  }
  .info .card-footer {
    font-size: 0.88rem !important;
  }
  .client {
    padding-top: 5vw;
  }
  .client__avatar--name {
    font-size: 4.2vw;
    line-height: 5vw;
  }
  .client__content img {
    width: 20px;
    height: 20px;
  }
  .intro__img div {
    font-size: 3.5vw;
  }
  .contact__content div img {
    width: 30px;
  }
  .contact {
    padding: 5vw 0;
  }
  .footer--logo img {
    width: 120px;
  }
}

@media (max-width: 480px) {
  .header__logo img {
    width: 25vw;
  }
  .intro__content--title, .info__text h3, .client__title h3, .contact__text h3 {
    font-size: 7.5vw;
    font-weight: 700;
    color: #303030;
    line-height: 9vw;
  }
  .contact__content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: left !important;
  }
  .contact__content div img {
    margin: 0 10px !important;
  }
  .contact__content div a {
    display: inline !important;
  }
  .contact__content div:nth-child(2) {
    margin-top: 1rem;
  }
  .footer--menu li {
    width: calc(100% / 3);
  }
  .footer--menu li:nth-child(4) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/*# sourceMappingURL=style.css.map */