/** @format */

@import url(./boostrap/css/bootstrap.min.css);
@import url(./slick-1.8.1/slick/slick.css);
@import url(./slick-1.8.1/slick/slick-theme.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Open sans;
  position: relative;
  section:not(:first-child) {
    margin-top: 100px;
  }
  ul {
    list-style: none;
  }
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
  button {
    border: none;
    &:focus {
      outline: none;
    }
  }
}
.slick-dots li.slick-active button:before {
  font-size: 13px;
  color: red;
  border: 1px solid rgb(20, 120, 208);
  border-radius: 50%;
}
// main-nav
.main__nav {
  @include boxStyle(absolute, 0, normal, normal, 100%, 100%, rgba(0, 0, 0, 0.8));
  z-index: 1000;
  @include fontStyle(1rem, normal, normal, white);
  div {
    @include boxStyle(absolute, normal, normal, normal, 60%, 100%, rgb(0, 0, 0));
    a {
      padding: 15px 3px 15px 20px;
      &:hover {
        background: #2c4985;
      }
    }
  }
  &--contact {
    display: none;
    background: rgb(20, 20, 20);
    font-size: 0.9rem;
  }
}
// header
.header {
  background-image: url(../img/header/panner.jpg);
  background-size: cover;
  header {
    background: white;
    margin-bottom: 50px;
    .header__logo {
      position: relative;
      span {
        position: relative;
        @include fontStyle(13px, 18px, bold, #2c4985);
        letter-spacing: 0.05em;
        margin-bottom: -20px;
        z-index: 3;
      }
      &:after {
        content: "";
        @include boxStyle(absolute, normal, normal, normal, 500%, 25px, white);
        margin-left: -440%;
        transform: skewX(-60deg);
        z-index: 1;
      }
    }
    .header__content {
      ul:not(:first-child) {
        margin-left: 50px;
      }
      li {
        font-family: Montserrat;
        @include fontStyle(14px, 17px, 500, #1a3761);
        a {
          @include fontStyle(inherit, inherit, 600, #ee1f23);
          @include hoverLink;
        }
      }
    }
    .header__contact {
      border-radius: 20px;
      background: rgb(226, 223, 223);
      box-shadow: -3px -3px 3px rgb(255, 255, 255), 3px 3px 5px rgba(70, 70, 70, 0.5);
      a {
        background: linear-gradient(0deg, #ddd, #fff);
        color: #7a7a7a;
        font-size: 1.4rem;
        border-radius: 50%;
        box-shadow: -3px -3px 3px rgb(255, 255, 255), 3px 3px 5px rgba(70, 70, 70, 0.5);
        transition: 0.2s;
        &:hover {
          box-shadow: inset -3px -3px 3px rgb(255, 255, 255), inset 3px 3px 5px rgba(70, 70, 70, 0.5);
          color: seagreen;
        }
      }
    }
  }
  .header__navbar {
    color: white;
    a {
      margin: 0 25px;
      @include hoverLink;
      &:focus {
        border-bottom: 3px solid #c1f8ff;
      }
    }
  }
  .header__banner {
    color: white;
    h2 {
      @include fontStyle(2.6rem, 3rem, 600, inherit);
    }
    p {
      @include fontStyle(0.88rem, 1.4rem, 300, inherit);
    }
    .btn--box {
      @include btn;
    }
    &--icons {
      font-size: 1.4rem;
      a {
        @include hoverLink;
      }
    }
    &--scrollDown {
      @include flexCenter(row);
      margin: 95px auto 7px auto;
      cursor: pointer;
      @include boxStyle(initial, normal, normal, normal, 40px, 35px, white);
      clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
      img {
        transform: translateY(120%);
        width: 35%;
      }
    }
  }
}

// intro
.intro {
  font-family: Mulish;
  &__img {
    position: relative;
    display: inline-block;
    img {
      width: 100%;
    }
    div {
      padding: 0 5px 0 10%;
      @include boxStyle(absolute, normal, normal, 5%, 55%, 32%, #265bc5);
      bottom: -5%;
      @include flexCenter(row);
      @include fontStyle(1.25rem, 1.36em, bold, white);
      img {
        @include boxStyle(absolute, 15%, -9%, normal, 25%, auto, none);
      }
    }
  }
  &__content {
    &--title {
      @include fontStyle(2.6rem, 3rem, 700, #303030);
      span {
        letter-spacing: 0.3em;
        @include fontStyle(0.88rem, 1rem, normal, #ee1f23);
      }
    }
    p {
      font-family: Open Sans;
      color: #505050;
    }
    .btn--box {
      @include btn;
    }
  }
}

// process
.process {
  background-image: url(../img/process/process-bg.jpg);
  padding: 80px;
  &__container {
    padding: 3%;
    background: white;
    border-bottom: 1px solid #265bc5;
    div {
      img {
        width: 20%;
      }
    }
    &:first-child {
      div {
        img:last-child {
          width: 15%;
          margin-right: 4%;
        }
      }
    }
    &:nth-child(2) {
      background: #265bc5;
      ul {
        color: white !important;
        li {
          color: white !important;
        }
      }
    }
    ul {
      @include fontStyle(0.88rem, 1.2rem, normal, #303030);
      li:first-child {
        font-family: Mulish;
        @include fontStyle(1.15rem, 1.3rem, 700, #265bc5);
      }
    }
  }
}

// info
.info {
  &__text {
    h3 {
      @extend .intro__content--title;
    }
  }
  .card {
    border: none;
    flex: none;
    .info__card {
      transition: 0.5s;
      &--anima {
        overflow: hidden;
        .card-img-top {
          &:hover {
            animation: anima 0.5s;
            @keyframes anima {
              0% {
                transform: scale(1);
              }
              50% {
                transform: scale(1.05);
              }
              100% {
                transform: scale(1);
              }
            }
          }
        }
      }
      h5 {
        @include fontStyle(1.25rem, 1.85rem, bold, #333333);
      }
      p {
        font-family: Montserrat;
        @include fontStyle(0.88rem, 1.06rem, normal, #555555);
      }
      &:hover {
        box-shadow: 0px 0px 30px rgba(103, 92, 92, 0.25);
      }
      .card-footer {
        span {
          @include flexCenter(row);
        }
        @include flexCenter(row);
        font-family: Roboto;
        @include fontStyle(0.88rem, 1rem, normal, #303030);
        a {
          @include hoverLink;
          i {
            color: red;
          }
        }
      }
    }
  }
  .btn--box {
    @include btn;
  }
}

// client
.client {
  background-image: url(../img/client/img.png);
  background-size: cover;
  &__title {
    h3 {
      @extend .intro__content--title;
    }
  }
  &__avatar {
    position: relative;
    img {
      width: 100%;
    }
    &--name {
      @include flexCenter(row);
      @include boxStyle(absolute, normal, normal, 5%, 66%, 20%, #265bc5);
      bottom: -6%;
      @include fontStyle(16px, 1.3rem, bold, #f8f8f8);
      small {
        font-weight: 400;
      }
    }
  }
  &__content {
    img {
      width: 12%;
      height: 13%;
    }
    p {
      line-height: 1.37rem;
      color: #505050;
    }
  }
  &__footer {
    img {
      width: 100%;
    }
    &--logo {
      background: white;
      a {
        @include hoverLink;
      }
    }
  }
}

// contact
.contact {
  background-image: url(../img/contact/contacbg.png);
  background-size: cover;
  padding: 50px 0;
  &__text {
    h3 {
      @extend .intro__content--title;
      color: white !important;
    }
  }
  &__content {
    @include fontStyle(0.88rem, 1.2rem, bold, #f8f8f8);
    a {
      @include hoverLink;
    }
  }
}

// footer
.footer {
  @include fontStyle(0.88rem, 1.2rem, 600, #505050);
  h5 {
    @include fontStyle(1.25rem, 1.7rem, bold, #265bc5);
  }
  &--logo {
    margin-top: -50px;
    h5 {
      @include fontStyle(1rem, 1.37rem, 800, #303030);
    }
    p {
      @include fontStyle(0.94rem, 1.6rem, normal, inherit);
    }
  }
  &--menu {
    a {
      @include hoverLink;
    }
  }
  &--input {
    ul {
      @include fontStyle(0.94rem, normal, normal, inherit);
      div {
        position: relative;
        @include inp;
      }
      img {
        width: 100%;
      }
    }
  }
  &--icons {
    @include fontStyle(1.8rem, normal, normal, #265bc5);
    a {
      @include hoverLink;
    }
  }
}
@import "responsive";
